@import rendering._
@(sections: Seq[CandidateListSection with PlainTextRendering])
================================================================================
Available Candidates
================================================================================
q-quit                                  /-search down
j-down                                  ?-search up
k-up                                    h-help
@for(section <- sections) {
--------------------------------------------------------------------------------
@section.render()}
--------------------------------------------------------------------------------